.user-box, .login-box {
    display: none;
}

.teamData {
    position: relative;
    border: 2px solid blue;
    padding: 20px;
    margin: 50px;
}

.span {
    position: absolute;
    font-size: 18px;
    right: 10px;
}

input {
    margin-right: 20px;
}


.msg span{
font-size: 13px;
}